/*!
 * fface.scss v0.0.0 (https://gitlab.com/nimdraug/fface.scss)
 * Copyright 2020 Martin Hultén-Ashauer
 * Licensed under MIT (https://gitlab.com/nimdraug/fface.scss/-/blob/master/LICENSE)
 */
 @mixin fontface( $name, $src, $formats: [ woff ], $variants: [ [ null normal ] ], $local: null, $class: true )
{
    @if $class == true
    {
        $class: to-lower-case( $name );
        $idx: str-index( $class, ' ' );
        @while $idx
        {
            $class: str-slice( $class, 1, $idx - 1 ) + '-' + str-slice( $class, $idx + 1 );
            $idx: str-index( $class, ' ' );
        }
    }

    @each $variant in $variants
    {
        $srcs: [];
        $end: null;

        @if $local
        {
            $srcs: append( $srcs, local( $local ) );
        }

        @if length( $variant ) == 2
        {
            $end: nth( $variant, 1 );
            $variant: nth( $variant, 2 );
        }
        @else
        {
            $end: "-#{$variant}";
        }

        @each $format in $formats
        {
            $fmt: $format;
            @if $fmt == 'otf'
            {
                $fmt: 'opentype';
            }
            @else if $fmt == 'ttf'
            {
                $fmt: 'truetype';
            }
            @else if $fmt == 'eot'
            {
                $fmt: 'embedded-opentype';
            }

            $srcs: append( $srcs, url( "#{$src}#{$end}.#{$format}" ) format( "#{$fmt}" ) );
        }

        $weight: "#{$variant}";
        $style: null;

        @if str-index( $weight, 'i' )
        {
            $weight: str-slice( $weight, 0, -2 );
            $style: italic;
        }

        @if $weight == 'normal' or $weight == '400'
        {
            $weight: null;
        }

        @font-face
        {
            font-family: $name;
            src: join( $srcs, [], $separator: comma, $bracketed: false );
            font-weight: #{$weight};
            font-style: $style;
            @content;
        }

        @if $class
        {
            $vclass: $class;
            @if $weight
            {
                $vclass: $vclass + '-' + $weight;
            }
            @if $style
            {
                $vclass: $vclass + '-i';
            }
            .f-#{$vclass}
            {
                font-family: $name;
                font-weight: #{$weight};
                font-style: $style;
            }
        }
    }
}
